<!doctype html>
<html>

<head>
    <title>Stores data website</title>
</head>
<style>
    table,
    td,
    th {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>

<body>
  <p>This is a collection of stores from id {{starting_id}} to {{starting_id+page_size-1}}.</p>
    <table id="stores">
        {% for key in stores[0].keys() %}
        <th> {{key}} </th>
        {% endfor %}

        {% for store in stores %}
        {#<li><a href="{{ item.href }}">{{ item.caption }}</a></li>#}
        <tr>
            {% for key, value in store.items() %}
            <td> {{value}} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% if starting_id-page_size > 0 %}
      <button type="button"><a href="{{url_for('data', start=starting_id-page_size-1)}}">Previous</a></button>
    {% else %}
      <button type="button" disabled>Previous</button>
    {% endif %}
    {% if starting_id+page_size < 5000 %} 
      <button type="button"><a href="{{url_for('data', start=starting_id+page_size-1)}}">Next</a></button>
    {% else %}
      <button type="button" disabled>Next</button>
    {% endif %} 
  <p> Page size is {{page_size}}</p>

</body>

</html>
